body {

    color: black;
    background-color: rgba(230, 230, 230, 0.245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;

}

header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: honeydew;
    text-align: center;
    color: rgb(46, 117, 233);
    font-size: 1.2em;
    display: block;
    font-weight: bold;
}

/*
laatikko who is:
background-color: #fffedd;
padding: 20px;
margin-left: 2%;
border: solid rgba(56, 20, 0, 0.385) 1.5px;

muuttujien määrittelyn voi tehdä myös näin:

: root {
--primary-color: ;
--secondary-color: ;
--font-size:20px;
}
*/

h1 {
    color: black;
    font-family: Roboto, sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 1.5em;
}


h2 {
    color: black;
    font-family: Roboto, sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 1.2em;
}


h3 {
    color: black;
    font-family: Roboto, sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 1em;
}


.photo {
    width: 90%;
    max-width: 250px;
    display: block;
    margin: auto;
    padding: 5px;
}

/* mobiili*/
@media only screen and (max-width:440px) {

    body {
        background-color: rgb(255, 255, 255);
    }
}

@media only screen and (min-width: 441px) {
    body {
        background-color: rgb(237, 237, 252);

        .flex_container {
            display: flex;
        }

        .flex_item {
            flex: 1
        }
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-color: rgb(247, 247, 247);

        margin:auto .flex_container {
            display: flex;
        }

        .flex_item {
            flex: 1
        }
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(46, 117, 233);
    color: white;
    text-align: center;
}

a:link {
    color: rgb(170, 153, 247);
    font-weight: bold;
}

a:visited {
    color: rgba(255, 60, 60, 0.862);
}

a:hover {
    color: rgba(255, 105, 180, 0.937);
}

a:active {
    color: blue;
}